<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TC</display-name>
  <servlet>
  <servlet-name>DispatcherServlet</servlet-name>
  <servlet-class>servlet.DispatcherServlet</servlet-class>
  <init-param>
  <param-name>controllers</param-name>
  <param-value>
  		controller.JoinController,
  		controller.LoginController,
  		controller.SearchController,
  		controller.GroupController,
  		controller.ModifyController,
  		controller.CreateGroupController,
  		controller.FreeWriteController,
  		controller.GroupMainController,
  		controller.MyGroupController,
  		controller.NotificationController,
  		controller.MemberFindController
  </param-value>
  </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>DispatcherServlet</servlet-name>
  <url-pattern>*.do</url-pattern>
  <url-pattern>info.search</url-pattern>
  </servlet-mapping>
</web-app>